*#
*~
*.out
*.toc
*.log
*.bbl
*.blg
*.fls
*.aux
*.nav
*.snm
*.synctex.gz
*.fdb_latexmk
prv_*.fmt
.#cheri.tex
.#todo
FTLR.tex
comment.cut
_region_.pdf
_region_.prv
_region_.tex
auto/
capability-machine.pdf
capability-machine.tex.orig
local-capability-machine.pdf
mail-pdfs/
preview.sty
revocable-reference.tex
stmaryrd.sty
talk_abstract_leuven_11-11-2016
todo
worlds-and-regions.pdf
worlds-and-regions.tex
