*/.gitignore
*#
*~
*.out
*.toc
*.log
*.bbl
*.blg
*.fls
*.aux
*.nav
*.snm
*.synctex.gz
*.fdb_latexmk
prv_*.fmt
.#cheri.tex
.#todo
FTLR.tex
comment.cut
_region_.pdf
_region_.prv
_region_.tex
auto/
capability-machine.pdf
capability-machine.tex.orig
local-capability-machine.pdf
mail-pdfs/
preview.sty
revocable-reference.tex
stmaryrd.sty
talk_abstract_leuven_11-11-2016
todo
worlds-and-regions.pdf
worlds-and-regions.tex
csf-2017/19A
csf-2017/Worlds.eps
csf-2017/dropbox
csf-2017/paper.pdf
csf-2017/w11-eps-converted-to.pdf
esop-2018/paper.pdf
esop-2018/technical_appendix.pdf
esop-2018/technical_appendix.pdf.zip
esop-2018/upload.sh
esop-2018/w11-eps-converted-to.pdf
fully-abstract-comp/coq/
fully-abstract-comp/prisc-extended-abstract/linear-well-bracketed-control.pdf
fully-abstract-comp/technical-report.pdf
local-capability-machine/.#local-capability-machine.pdf
local-capability-machine/local-capability-machine.pdf.zip
popl-2018/Supplemental material/
popl-2018/acmart-pacmpl-template.pdf
popl-2018/acmart-pacmpl-template.tex
popl-2018/paper.pdf
popl-2018/w11-eps-converted-to.pdf
presentations/.gitignore
presentations/aarhus-18-12-2016/aarhus16-slides.pdf
presentations/cambridge-30-05-2017/
presentations/leuven-11-11-2016/ant.jpg
presentations/leuven-11-11-2016/ant.png
presentations/leuven-11-11-2016/bru.jpg
presentations/leuven-11-11-2016/bru.png
presentations/leuven-11-11-2016/bruges.jpg
presentations/leuven-11-11-2016/bruges.png
presentations/leuven-11-11-2016/drawing.svg
presentations/leuven-11-11-2016/leu1.jpg
presentations/leuven-11-11-2016/leu1.png
presentations/leuven-11-11-2016/leu2.jpg
presentations/leuven-11-11-2016/leu2.png
presentations/leuven-11-11-2016/leuven16-slides.pdf
presentations/leuven-11-11-2016/nam.jpg
presentations/presentation-illustrations.pdf
presentations/scm-15-01-2017/Worlds.svg.2017_01_11_13_50_22.0.svg
presentations/scm-15-01-2017/scm17-slides.pdf
response
/presentations/esop18-04-2018/main.vrb
*.vrb
